<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>pocqtquick</Name>
    <Version>1.0.0</Version>
    <Title>pocqtquick Installer</Title>
    <Publisher>poc qt quick</Publisher>
    <TargetDir>@HomeDir@/AppData/Local/pocqtquick</TargetDir>
    <StartMenuDir>pocqtquick</StartMenuDir>
</Installer>