name: "Pull Request Labeler"
on:
  - pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        # Points to the config file we created in Step A
        configuration-path: .github/labeler.yaml
        # Sync labels helps remove labels if files are reverted/removed from PR
        sync-labels: true